.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card__title {
    margin: 0;
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: #212121;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 353px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card__like-btn {
    cursor: pointer;
    background-image: url(../images/like-icon.svg);
    width: 23px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    opacity: 40%;
}

.card__like-btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
    }
    .card__title {
        max-width: 235px;
    }
}
