.footer {
    padding: 60px 0;
    text-align: center;
}

.footer__copyright {
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #212121;
    margin: 0;
}
